## DMBI Project
### Dataset - Stack Overflow Developers Survey

In [1]:
import numpy as np
import pandas as pd

In [2]:
fields = ['Professional', 'Country', 'DeveloperType', 'NonDeveloperType', 'HaveWorkedLanguage',
          'WantWorkLanguage']

df = pd.read_csv('survey_results_public.csv', skipinitialspace=True, usecols=fields)

print(df.keys())
print(df.shape)

Index(['Professional', 'Country', 'DeveloperType', 'NonDeveloperType',
       'HaveWorkedLanguage', 'WantWorkLanguage'],
      dtype='object')
(51392, 6)

In [3]:
df['DeveloperType'] = df['DeveloperType'].fillna(df['NonDeveloperType'])
df.loc[df['DeveloperType'] == 'Other'] = np.nan
df.loc[df['HaveWorkedLanguage'] == df['WantWorkLanguage']] = np.nan
df['DeveloperType'] = df['DeveloperType'].fillna('General')
df = df.drop(['NonDeveloperType'], axis = 1)
df = df.dropna(axis=0, how='any')
df = df[df['Professional'].str.lower() == 'student']
print(df.shape)
df.to_csv('survey_results_cleaned.csv', sep=',', na_rep='NaN')
df.head()

(3924, 5)

,Professional,Country,DeveloperType,HaveWorkedLanguage,WantWorkLanguage
1,Student,United Kingdom,General,JavaScript; Python; Ruby; SQL,Java; Python; Ruby; SQL
5,Student,New Zealand,General,JavaScript; PHP; Rust,Clojure; Elixir; Erlang; Haskell; Rust; TypeSc...
56,Student,United States,General,C#,C#; F#
114,Student,Bulgaria,General,C#,Assembly; C; C++; C#; Java
117,Student,United Kingdom,General,VB.NET,C#; Ruby

In [4]:
np.savetxt("language.csv", df['WantWorkLanguage'], delimiter=",", newline='\n', fmt='%s')
print(len(df['WantWorkLanguage']))

3924

In [5]:
df = pd.read_csv('language.csv', header=None)
df.head()

                                                   0
0                            Java; Python; Ruby; SQL
1  Clojure; Elixir; Erlang; Haskell; Rust; TypeSc...
2                                             C#; F#
3                         Assembly; C; C++; C#; Java
4                                           C#; Ruby

In [6]:
df2 = pd.DataFrame(df[0].str.split(';').values.tolist())
n=4
df2 = df2.loc[:,0:n-1]
df2 = df2.dropna(axis=0, how='any')
df2.to_csv('language_data.csv', sep=',', header=[f'lang{i}' for i in range(n)], index=False)
df3 = pd.read_csv('language_data.csv')
print(df3.shape)
df3.head()

(2192, 4)

      lang0    lang1        lang2     lang3
0      Java   Python         Ruby       SQL
1   Clojure   Elixir       Erlang   Haskell
2  Assembly        C          C++        C#
3    Groovy     Java   JavaScript       Lua
4  Assembly        C          C++        C#