## Data Cleaning

In [1]:
import numpy as np
import pandas as pd

In [2]:
fields = ['Professional', 'Country', 'DeveloperType', 'NonDeveloperType', 'HaveWorkedLanguage',
          'WantWorkLanguage']

df = pd.read_csv('survey_results_public.csv', skipinitialspace=True, usecols=fields)

print(df.keys())
print(df.shape)

Index(['Professional', 'Country', 'DeveloperType', 'NonDeveloperType',
       'HaveWorkedLanguage', 'WantWorkLanguage'],
      dtype='object')
(51392, 6)

In [3]:
df['DeveloperType'] = df['DeveloperType'].fillna(df['NonDeveloperType'])
df.loc[df['DeveloperType'] == 'Other'] = np.nan
df.loc[df['HaveWorkedLanguage'] == df['WantWorkLanguage']] = np.nan
df['DeveloperType'] = df['DeveloperType'].fillna('General')
df = df.drop(['NonDeveloperType'], axis = 1)
df = df.dropna(axis=0, how='any')
df = df[df['Professional'].str.lower() == 'student']
print(df.shape)
df.to_csv('survey_results_cleaned.csv', sep=',', na_rep='NaN')
df.head()

(3924, 5)

,Professional,Country,DeveloperType,HaveWorkedLanguage,WantWorkLanguage
1,Student,United Kingdom,General,JavaScript; Python; Ruby; SQL,Java; Python; Ruby; SQL
5,Student,New Zealand,General,JavaScript; PHP; Rust,Clojure; Elixir; Erlang; Haskell; Rust; TypeSc...
56,Student,United States,General,C#,C#; F#
114,Student,Bulgaria,General,C#,Assembly; C; C++; C#; Java
117,Student,United Kingdom,General,VB.NET,C#; Ruby

In [4]:
df2 = pd.DataFrame(df['WantWorkLanguage'].str.split(';').values.tolist())
df2.fillna('NA', inplace=True)
df2.to_csv('language_data.csv', sep=',', header=[f'lang{i}' for i in range(len(df2.columns))], index=False)
print(df2.shape)
df2.head()

(3924, 35)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,Java,Python,Ruby,SQL,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,Clojure,Elixir,Erlang,Haskell,Rust,TypeScript,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,C#,F#,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,Assembly,C,C++,C#,Java,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,C#,Ruby,NA,NA,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA