## DMBI Project
### Dataset - Stack Overflow Developers Survey

In [1]:
import numpy as np
import pandas as pd
import Orange
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
fields = ['Professional', 'Country', 'DeveloperType', 'NonDeveloperType', 'HaveWorkedLanguage',
          'WantWorkLanguage', 'HaveWorkedFramework', 'WantWorkFramework', 'HaveWorkedDatabase',
          'WantWorkDatabase', 'Salary']

df = pd.read_csv('survey_results_public.csv', skipinitialspace=True, usecols=fields)

print(df.keys())
print(df.shape)

Index(['Professional', 'Country', 'DeveloperType', 'NonDeveloperType',
       'HaveWorkedLanguage', 'WantWorkLanguage', 'HaveWorkedFramework',
       'WantWorkFramework', 'HaveWorkedDatabase', 'WantWorkDatabase',
       'Salary'],
      dtype='object')
(51392, 11)

In [3]:
df['DeveloperType'] = df['DeveloperType'].fillna(df['NonDeveloperType'])
df.loc[df['DeveloperType'] == 'Other'] = np.nan
df['DeveloperType'] = df['DeveloperType'].fillna('General')
df = df.drop(['NonDeveloperType', 'WantWorkLanguage', 'HaveWorkedFramework',
			  'WantWorkFramework', 'HaveWorkedDatabase', 'WantWorkDatabase'], axis = 1)
df = df[pd.notnull(df['HaveWorkedLanguage'])]
print(df.shape)
df.to_csv('survey_results_cleaned.csv', sep=',', na_rep='NaN')
df.head()

(34838, 5)

,Professional,Country,DeveloperType,HaveWorkedLanguage,Salary
0,Student,United States,General,Swift,NaN
1,Student,United Kingdom,General,JavaScript; Python; Ruby; SQL,NaN
3,Professional non-developer who sometimes write...,United States,Data scientist,Matlab; Python; R; SQL,NaN
5,Student,New Zealand,General,JavaScript; PHP; Rust,NaN
6,Professional non-developer who sometimes write...,United States,Data scientist,Matlab; Python,NaN

In [4]:
HaveWorkedLanguage = df['HaveWorkedLanguage'].as_matrix()
HaveWorkedLanguage = np.array([[x.strip() for x in row.split(';')] for row in HaveWorkedLanguage])
print(type(HaveWorkedLanguage))
print(len(HaveWorkedLanguage))
np.savetxt("language.csv", HaveWorkedLanguage, delimiter=",", newline='\n', fmt='%s', encoding='utf-8')

<class 'numpy.ndarray'>
34838

## Orange

In [5]:
# data = Orange.data.Table('language.csv')