## DMBI Project
### Dataset - Stack Overflow Developers Survey

In [1]:
import numpy as np
import pickle
import pandas as pd
import sklearn
import seaborn as sns
from IPython.display import Image
import matplotlib.pyplot as plt
import pydotplus as pdp
% matplotlib inline

In [2]:
fields = ['Professional', 'Country', 'DeveloperType', 'NonDeveloperType', 'HaveWorkedLanguage',
          'WantWorkLanguage', 'HaveWorkedFramework', 'WantWorkFramework', 'HaveWorkedDatabase',
          'WantWorkDatabase', 'HaveWorkedPlatform', 'WantWorkPlatform', 'VersionControl', 'Salary']

df = pd.read_csv('survey_results_public.csv', skipinitialspace=True, usecols=fields)

print(df.keys())

Index(['Professional', 'Country', 'DeveloperType', 'NonDeveloperType',
       'HaveWorkedLanguage', 'WantWorkLanguage', 'HaveWorkedFramework',
       'WantWorkFramework', 'HaveWorkedDatabase', 'WantWorkDatabase',
       'HaveWorkedPlatform', 'WantWorkPlatform', 'VersionControl', 'Salary'],
      dtype='object')

In [3]:
df.head()

,Professional,Country,DeveloperType,NonDeveloperType,HaveWorkedLanguage,WantWorkLanguage,HaveWorkedFramework,WantWorkFramework,HaveWorkedDatabase,WantWorkDatabase,HaveWorkedPlatform,WantWorkPlatform,VersionControl,Salary
0,Student,United States,NaN,NaN,Swift,Swift,NaN,NaN,NaN,NaN,iOS,iOS,NaN,NaN
1,Student,United Kingdom,NaN,NaN,JavaScript; Python; Ruby; SQL,Java; Python; Ruby; SQL,.NET Core,.NET Core,MySQL; SQLite,MySQL; SQLite,Amazon Web Services (AWS),Linux Desktop; Raspberry Pi; Amazon Web Servic...,Git,NaN
2,Professional developer,United Kingdom,Other,NaN,Java; PHP; Python,C; Python; Rust,NaN,NaN,MySQL,NaN,NaN,NaN,Mercurial,113750.0
3,Professional non-developer who sometimes write...,United States,NaN,Data scientist,Matlab; Python; R; SQL,Matlab; Python; R; SQL,React,Hadoop; Node.js; React,MongoDB; Redis; SQL Server; MySQL; SQLite,MongoDB; Redis; SQL Server; MySQL; SQLite,Windows Desktop; Linux Desktop; Mac OS; Amazon...,Windows Desktop; Linux Desktop; Mac OS; Amazon...,Git,NaN
4,Professional developer,Switzerland,Mobile developer; Graphics programming; Deskto...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN